<%= flash[:notice] %>
<h1>New Post</h1>
<%= form_for @post do |f| %>
<%= f.label :title %><br/>
<%= f.text_field :title, placeholder: "Title", :size => "50", :rows => 25 %><br/><br/>
<%= f.label :content %><br/>
<%= f.text_area :content, placeholder: "Write some stuff here", :cols => 125, :rows => 15 %><br/>
<%= f.submit "Publish" %>
<% end %>
